body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#legend {
  overflow-y: scroll !important;
  background-color: #E1D4B7;
}



#json_one_results {
  font-weight: bold;
  font-size: 20px;
}

#results-table {
  overflow-y: hidden;
  margin-bottom: 2%;
  width: 95%;
}

@media screen and (max-width: 576px) {
  #legend {
    height: 40%;
    position: absolute;
    bottom: 0;
    overflow-y: scroll;
  }

  #map {
    height: 60%;
    position: absolute;
    top: 0;
  }

  #header {
    font-size: 5vw;
  }

}