body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.legend {
  background-color: rgba(53, 183, 183,.5);
  /* background-color: #35b6b9; */
  /* background-color: transparent; */
}

#json_one_results {
  font-weight: bold;
  font-size: 20px;
}

#results-table {
  overflow-y: hidden;
  margin-bottom: 2%;
  width: 95%;
}

/* rules to control the positioning of the divs when in mobile (portriat) mode */
@media screen and (max-width: 576px) {
  #legend {
    height: 40%;
    position: absolute;
    bottom: 0;
  }

  #map {
    height: 60%;
    position: absolute;
    top: 0;
  }
}

/* Button CSS from https://lingtalfi.com/bootstrap4-color-generator */
.btn-garnet {
  color: #fff;
  background-color: #782F40;
  border-color: #782F40;
}

.btn-garnet:hover {
  color: #fff;
  background-color: #5e2432;
  border-color: #53202c;
}

.btn-garnet:focus,
.btn-garnet.focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 47, 64, 0.5);
}

.btn-garnet.disabled,
.btn-garnet:disabled {
  color: #fff;
  background-color: #782F40;
  border-color: #782F40;
}

.btn-garnet:not(:disabled):not(.disabled):active,
.btn-garnet:not(:disabled):not(.disabled).active,
.show>.btn-garnet.dropdown-toggle {
  color: #fff;
  background-color: #53202c;
  border-color: #481c26;
}

.btn-garnet:not(:disabled):not(.disabled):active:focus,
.btn-garnet:not(:disabled):not(.disabled).active:focus,
.show>.btn-garnet.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 47, 64, 0.5);
}

.btn-outline-garnet {
  color: #782F40;
  background-color: transparent;
  border-color: #782F40;
}

.btn-outline-garnet:hover {
  color: #fff;
  background-color: #782F40;
  border-color: #782F40;
}

.btn-outline-garnet:focus,
.btn-outline-garnet.focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 47, 64, 0.5);
}

.btn-outline-garnet.disabled,
.btn-outline-garnet:disabled {
  color: #782F40;
  background-color: transparent;
}

.btn-outline-garnet:not(:disabled):not(.disabled):active,
.btn-outline-garnet:not(:disabled):not(.disabled).active,
.show>.btn-outline-garnet.dropdown-toggle {
  color: #fff;
  background-color: #782F40;
  border-color: #782F40; 
}

.btn-outline-garnet:not(:disabled):not(.disabled):active:focus,
.btn-outline-garnet:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-garnet.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(120, 47, 64, 0.5);
}

.blocks .btn-primary {
  padding: 10px 12px;
  margin: 0 5px;
}

.clustered_sites {
  border-radius: 90%;
  width: 5px;
  height: 5px;
  background-color: #35b7b7;
  /* background-color:red; */
  text-align: center;
  padding-top: 3px !important;
  font-size: 7px;
  
}.clustered_sites_with_MMH {
  border-radius: 90%;
  width: 5px;
  height: 5px;
  background-color: #b3e9e9;
  /* background-color:red; */
  text-align: center;
  padding-top: 3px !important;
  font-size: 7px;
}
/* this allows long dropdown options to wrap to a second line if necessary */		
.fs-option {
  word-break: normal;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #35b7b7;
  /* height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.tabulator-print-header, tabulator-print-footer{
  text-align:center;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.hidden_element {
  display: none;
}

.tabulator-cell {
  font-family: times, serif; font-size:12pt;
}
.geocoder-control-input {
  font-weight: 750;
  font-size: 16px;
  /* width: 320px; */
  font-family: sans-serif;
  background-color:#98e8ef;  
  /* background-color:#35b6b9; */
  color: red;
  /* text-shadow: 1px 1px #FFFFFF;
  text-emphasis-color: red; */
}
.geocoder-control-input:hover {
  font-weight: 750;
  font-size: 16px;
  font-family: sans-serif;
  /* width: 320px; */
  background-color:#dff3f5;  
  /* background-color:#98e8ef;   */
  /* background-color:#35b6b9; */
  color: red;
  /* text-shadow: 1px 1px #FFFFFF;
  text-emphasis-color: red; */
}

/* used in the legend */
.circle {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 17px;
}
.tabulator-col {
  /* background-color: #35b6b9 !important; */
  background-image: linear-gradient(to top, #ededed 5%, #35b7b7 100%) !important;
  z-index: 40;
}
.tabulator-row.tabulator-selected {
  background-color: rgba(53, 183, 183,.5) !important;
  }
.ui-dialog-title {
  background-color: linear-gradient(to top, #ededed 5%, #35b7b7 75%);
  font-size: 19px;
  text-align: center;
  text-decoration: underline;
}
.ui-dialog-content {
  font-size: 17px;
  font-family: serif;
  font-family:  Georgia, 'Times New Roman', Times, serif;
  background-color: #FDD200 !important;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to top, #ededed 5%, #35b7b7 75%);
	background-color:#35b6b9;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #35b7b7 5%, #35b7b7 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton2 {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to top, #ededed 5%, #FDD200 100%);
	background-color:#35b6b9;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #FDD200 5%, #FDD200 100%);
	background-color:#bab1ba;
}
.myButton2:active {
	position:relative;
	top:1px;
}
.jconfirm.pluginDefaults  {
  content:"Hey;" 
}