/* Base */
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Map */
#map {
  right: 0px;
  height: 100%;
  position: absolute;
  z-index: 6;
  cursor: default;
  top: 0;
}

/* Legend */
#legend {
  padding: 0px 2%;
  z-index: 1;
  height: 100%;
  background-color: rgba(206, 184, 136, 0.5);
  position: absolute;
  overflow-y: scroll;
}

#json_one_results {
  font-weight: bold;
  font-size: 20px;
}

.fixed tbody {
  display: block;
  overflow: auto;
  max-height: 200px;
  width: 100%;
}

.fixed thead tr {
  display: block;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 100%
}

#results-table {
  overflow-y: hidden;
  margin-bottom: 2%;
}

/* Put the submit button inside of the search bar */
#search-bar {
  position: relative;
}

#geocoder-input {
  width: 99%
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-size: 80%;
  color: #dc3545;
}

#SearchButton {
  position: absolute;
  width: 25%;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .sidenav {
    height: auto;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 10px;
  }

  #legend {
    padding: 0px 2%;
    /* z-index: 7; */
    height: 40%;
    /* background-color: #EEE; */
    position: absolute;
    bottom: 0px;
    overflow-y: scroll;

  }

  /* Map */
  #map {
    width: 100%; 
    height: 60%;
    position: absolute;
    z-index: -1;
    /* cursor: default; */
    bottom: 0;
  }

  .row.content {
    height: auto;
  }

  #geocoder_box {
    position: absolute;
    left: 15%;
    top: 2%
  }

  /* prevent about from showing when in mobile view */
  #about-section {
    display: none;
  }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 812px) and (orientation: landscape) {
  .sidenav {
    height: auto;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 10px;
  }

  #legend {
    padding: 0px 2%;
    /* z-index: 7; */
    height: 100%;
    /* background-color: #EEE; */
    /* position: absolute; */
    bottom: 0px;
    overflow-y: scroll;
  }

  /* Map */
  #map {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }

  .row.content {
    height: auto;
  }

  #geocoder_box {
    position: absolute;
    left: 60%;
    top: 2%;
    width: 175px;
  }

  /* prevent about from showing when in mobile view */
  #about-section {
    display: none;
  }
}